@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

body {
    background-color: #369;
    padding: 0;
    font-family:'Italiana', 'Times New Roman', Times, serif;
    background-image: url('https://pixabay.com/get/g5a38af1866f2189a65bc662d98b63ab6aa5fe7bbed50f0950c7987c5a19d11682d6132755efc01834eea191cf30ea167ba3f5249364fe7a59d3f1a16d0e4c25cd4c2e93cebb2a65dcc3d764c33eee5d9_1920.jpg');
    background-position:top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
}

/* Navigation styling */

.nav-container {
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50px;
    /* background: rgba(255, 255, 255, 0.1); */
}

.nav-container a{

    color: #fff;
    /* text-transform: uppercase; */
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 20px;
}


/* Styling and position of logo / hero image */

.hero-container {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.hero-h1 {
    width: 100%;
    letter-spacing: -3px;
    font-size: 6em;
}

.hero-h2{
    margin-top: 20px;
    text-align: center;
    font-size: 1.3em;
}

hr {
    width: 680px;
    border-radius: 70%;
}

#scroll {

    margin-top: 20px;
}

.join-button {
    font-family:'Italiana', 'Times New Roman', Times, serif;
    font-style: bold;
    font-size: 1.1em;
    color: inherit;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    width: 200px;
    margin-top: 30px;
    padding: 5px;
    align-self: center;
}