
/* Index of css file: 

- basic styling
- navigation styling for desktop and ipad
- styling of the hero text and join-button
- register form and submit button
- responsive media query for tablet
- responsive media query for mobile devices

*/


@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
body {
    background-color: #369;
    padding: 0;
    font-family:'Italiana', 'Times New Roman', Times, serif;
    background-image: url('../images/bg.jpg');
    background-position:top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
}

a {
    color: #fff;
}

.head {
    font-size: 1.3em;
    text-decoration: underline;
}

/* Navigation styling */

.nav-container {
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50px;
}

.nav-container a{

    color: #fff;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 20px;
}

/* Hides the navbar for mobile devices when browsing on tablet or desktop */

.nav-container-mobile{
    display: none;
}

/* Styling and position of logo or hero image */

.hero-container {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    text-align: center;
}

.hero-h1 {
    width: 100%;
    letter-spacing: -3px;
    font-size: 4em;
}

.hero-h2{
    margin-top: 20px;
    text-align: center;
    font-size: 1.3em;
}

hr {
    width: 680px;
    border-radius: 70%;
}

#scroll {

    margin-top: 20px;
}

.join-button {
    width: 200px;
    font-family:'Italiana', 'Times New Roman', Times, serif;
    font-style: bold;
    font-size: 1.1em;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px 40px;
    align-self: center;
    transition: background-color 0.5s ease-in-out;
}

.join-button:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.main-content-container {
    width: 900px;
    text-align: left;
    font-size: 1.2em;
    letter-spacing: 1px;
    background-color: #fff;
    color: #000;
    padding: 50px;
    margin: 50px auto;
}

/* Styling of register form */

.register-container {

    width: 300px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    border: 1px solid #fff;
    padding: 20px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

 .input{
    outline: none;
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    margin: 10px 0;
    text-align: center;
}

.input:hover{ 
    
    /* Fade effect on red border */
    
    border: 1px solid red;
    transition:ease-in-out;
    transition-duration: 0.3s;
}

.input:focus{
    border: 1px solid red;
}

#submit{
    width: 210px;
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
}

::placeholder ,::-webkit-input-placeholder{
    color: #888;
}

#mobile-nav {
    display: none;
}



/* Media query for tablets / medium sized devices */

@media screen and (max-width: 850px) {

    body {
        margin: 0;
    }

    .nav-container{
        text-align: center;
        margin: 20px auto;
        padding: 10px 0;
    }

    .nav-container a{
        font-size: 0.8em;
        margin: 0 10px;
    }

    .hero-container{
        margin: 75px auto;
        width: 90vw;
    }

    .hero-h2 {
        font-size: 1em;
        text-align: center;
    }

    hr{
        display: none;
    }

    #mobile-nav {
        display: none;
    }

    .main-content-container{
        width: 100vw;
        margin: 0;
        padding: 0px;
    }

    .main-content-container > article {
        width: 90vw;
        margin: 20px auto;
        margin-left: 20px;
        padding-top: 20px;
    }
}


/* Responsive design for mobile devices of max 440px width */

@media screen and (max-width: 440px){


    .hero-h1 { 
        font-size: 3em;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 5px;
        text-decoration-style: wavy;
    }

    .hero-container{
        margin-top: 150px;
    }

    /* Hides tablet and desktop nav menu when on mobile dev */
    
    .nav-container{
        display: none;
    }


    /* Styling mobile menu */

    #menu-button {
        font-size: 1.5em;
    }

    #mobile-nav{
        display: block;
        position: fixed; /* Makes the mobile menu sticky */
        z-index: 10; /* Positions menu above content */
        backdrop-filter: blur(7px); /* Makes background blurry for better contrast */
        top: 0;
        padding: 10px 0;
        width: 100%;
        margin: 0 auto;
        border: none;
        text-align: center;
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0.4);
    }

    /* Hides mobile menu until 'Menu' is klicked  */
    
    #mobile-nav #mobile-menu, #mobile-checkbox{
        display: none;
    }

    /* Displays menu when 'Menu' is klicked */

    #mobile-checkbox:checked + #mobile-menu{
        display: block;
        clear: both;
        position: relative;
    }

    #mobile-menu{
        padding: 20px 0;
        font-size: 1em;
    }

    #mobile-menu li{
        display: block;
        padding: 10px 0;
    }

    #mobile-menu a{
        color: #fff;
    }

    .register-container{ 
        width: 70vw;
    }

    .main-content-container {
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .main-content-container > article {
        width: 80vw;
        padding: 30px;
        margin-bottom: -10px;
    }

    .head {
        font-size: 1.3em;
        text-decoration: underline;
    }
}
